<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>News App Demo</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="chart">
        <svg viewBox="0 0 36 36" class="circular-chart">
            <path class="circle-bg" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
            <circle class="circle" r="15.91549430918954" fill="transparent" stroke="#ce4b99" cy="18" cx="18"
                stroke-dashoffset="0" stroke-width="1" stroke-dasharray="{{ (index . 0).Percent}},100"></circle>
            <circle class="circle" r="15.91549430918954" fill="transparent" stroke="#b1c94e" cy="18" cx="18"
                stroke-dashoffset="-{{ (index . 0).Percent}}" stroke-width="1"
                stroke-dasharray="{{ (index . 1).Percent}},100"></circle>
            <!-- <circle class="circle" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#b1c94e"
            stroke-width="3" stroke-dasharray="15 85" stroke-dashoffset="40"></circle> -->
            <!-- <text x="18" y="20.35" class="percentage">{{ (index . 0).Percent}}</text> -->
        </svg>
        <div class="chart-label">
            <ul>
                {{range .}}
                <li class="label">{{.Name}}-{{.Count}}</li>
                {{end}}
            </ul>
        </div>
    </div>
    <!-- <main>
        <header>
            <a class="logo" href="/">News Demo</a>
            <form action="/search" method="GET">
                <input autofocus class="search-input" value="" placeholder="Enter a news topic" type="search"
                    name="q" />
            </form>
            <a href="https://github.com/freshman-tech/news" class="button github-button">View on GitHub</a>
        </header>
    </main> -->

</body>

</html>