.chart{
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
    display: flex;
    justify-content: center;
}
.chart-label{
    display: flex;
    align-items: center;
}
.chart-label ul{
    list-style: none;
}
.chart-label .label{

}
.chart-label .label:nth-of-type(1){
    border-left: 10px solid #3c9ee5;
}
.chart-label .label:nth-of-type(2){
    border-left: 10px solid #ff9f00;
}
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}


.circular-chart {
    display: block;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    animation: progress 1s ease-out forwards;
}

/* @keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
} */

/* .circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
} */

.circular-chart circle:nth-of-type(1) {
    stroke: #3c9ee5;
}
.circular-chart circle:nth-of-type(2) {
    stroke: #ff9f00;
}
.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}